# Dependencies
node_modules/

# Environment
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
uploads/
excel/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db